@model IEnumerable<Department>
@{
    ViewData["Title"] = "Departement List";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Departement</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td class="text-center">
                                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="position:fixed;right:45px;bottom:75px;">
    <a asp-action="Create" class="btn btn-success">Add</a>
</div>